<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Catalog App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>

</head>
<body>
    <a href="{{url_for('index')}}">Home</a>
    <a href="{{url_for('add_item')}}">Add new Item</a>
    <a href="{{url_for('add_category')}}">Add New Category</a>
    {% if session.username %}
    <img src="{{session.picture}}" style = "width: 20px; height: 20px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;"/>
    {{session.username}}
    <a href="{{url_for('gdisconnect')}}">Log Out</a>
    {% else %}
    <a href="{{url_for('showLogin')}}">Log In</a>
    {% endif %}

    <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>